/*
    1. Cart page styles
    2. Cart section styles
    3  Order summary section styles
    4. Media queries
*/

/* 1. Cart page styles  */

.cart-page {
    height: calc(100vh - 80px);
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    display: flex;
    justify-content: space-around;
}

.cart-page h1 {
    font-weight: 100;
    font-size: 15px;
}

.cart-page > .cart-section, .cart-page > .summary-section {
    font-size: 16px;
    margin: 0 10px;
}


/* 2. Cart section styles  */

.cart-page > .cart-section {
    width: 40em;
    height: 40em;
}

.cart-page .cart {
    height: 100%;
    border-top: 1px solid rgb(147, 147, 147);
    overflow: scroll;
}

/* 3. Order summary styles  */

.cart-page > .summary-section {
    width: 24em;
    height: 20em;
}

.cart-page .summary {
    border: .5px solid rgb(147, 147, 147);
}


/* 4. Media queries  */

@media screen and (max-width: 990px){
    .cart-page  {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 650px){
    .cart-page > .cart-section, .cart-page > .summary-section {
        font-size: 12px;
    }
}

@media screen and (max-width: 520px){
    .cart-page > .cart-section {
        font-size: 10px;
    }
}