
.order-card-container{
    font-size: 16px;
}

/* The order item which contains all order details */
.order-card-header-container{
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 0.7em;
    background-color: white;
    border: 1px solid black;
    padding: 0.7em 0.2em 0.7em 0.2em;
    overflow-x: auto;
    position: relative;
    z-index: 2;
}

/* Pending, completed, shipped button */
.order-card-header-container > button{
    border: none;
    background-color: aquamarine;
    display: flex;
    gap: 0.2em;
    border-radius: 2em;
    padding: 0.2em 0.8em 0.2em 0.8em;
    height: fit-content;
    margin-right: 0.9em;
}
.order-card-header-container > button > p{
    margin: 0;
    font-size: 0.9em;
    color: white;
}
.order-card-header-container > button > img{
    width: 1.4em;
}

.order-card-label-value-container{
    text-align: left;
    width: fit-content;
    padding: 0em 0.85em 0em 0.85em;
}
/* Label */
.order-card-label-value-container > h6{
    font-size: 0.7em;
    margin: 0;
    margin-bottom: 0.3em;
    color: #6E6E6E;
    text-wrap: nowrap;
}
/* Value */
.order-card-label-value-container > p{
    font-size: 0.9em;
    margin: 0;
    text-wrap: nowrap;
}

/* Lines which divides labels and values */
.order-card-container .seperator{
    min-height: 2.3em;
    min-width: 0.05em;
    background-color: #CDCDCD;
}

.order-item-container{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.7em 0.2em 0.7em 0.2em;
    overflow-x: auto;
}


/* List which holds all items purchased with order */
.order-card-items-container{
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1.5px solid #B5B5B5;
    width: fit-content;
    border-radius: 0em 0em 0.7em 0.7em;
    padding-top: 0.8em;
    transform: translateY(-0.9em);
    z-index: 1;
}
.order-card-items-container > li{
    border-bottom: 1.5px solid #BABABA;
}
/* So border does not show on last list item */
.order-card-items-container > li:last-of-type{
    border-bottom: none;
}