.product-card {
    width: 200px;
    height: 230px;
    background-color: rgb(36, 36, 37);
    border-radius: 10px;
    position: relative;
    padding-top: 20px;
}

.product-card .name, .product-card .price {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
}

.product-card .image img {
    max-width: 120px;
    margin: auto;
    display: block;
}

.product-card .name {
    left: 10px
}

.product-card .price {
    right: 10px;
}