
/* Modal containing everything */
.image-form-container{
    width: fit-content;
}

.image-form{
    width: fit-content;
}

/* Product images */
.image-form > img{
    width: 5em;
    border-radius: 0.9em;
}