
/* Contianer which holds every order item */
.all-user-orders{
    border: 1px solid rgb(120, 120, 120);
    width: 90%;
    margin-bottom: 3em;
    max-width: 1200px;
}

/* Container which holds order header and all order items */
.order-items-container{
}

/* List which contains order items apart of order */
.order-items-container > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.order-items-container > ul > li > p{
    padding: 0;
    margin: 0;
    color: #c1c1c1;
}

/* Display seperator lines in between every order item */
.order-items-container > ul > li{
    border-bottom: 1px solid rgb(120, 120, 120);
    padding: 0.5em;
    background-color: black;
}
.order-items-container > ul > li:last-of-type{
    /* So border does not show on last list item */
    border-bottom: none;
    padding-bottom: 1em;
}

/* Section which displays order status */
.order-items-container > p{
    margin: 0;
    background-color: rgb(48, 48, 48);
    padding: 0.5em;
}

/* First sections which displays order # */
.order-items-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 74, 0);
    padding: 0.5em;
    border-top: 3px solid rgb(126, 188, 33);
}
.order-items-header > h5{
    margin: 0;
}
.order-items-header > p{
    margin: 0;
}