.products-page {
    height: calc(100vh);
    background-color: rgba(25, 25, 25, 0.915);
    padding-top: 80px;
}

.products-page > .content {
    max-width: 1500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

/* Side navigation styles  */

.products-page .side-nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products-page .side-nav ul {
    list-style-type: none;
    margin-bottom: 300px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
}

.products-page .side-nav ul > li {
    margin-top: 8px;
    cursor: pointer;

    transition-duration: 130ms;
}

.products-page .side-nav ul > li:hover, .products-page .side-nav ul > li.active {
    font-size: 16px;
    color: rgb(241, 247, 252);
}

/* Products list styles  */

.products-page .products-list {
    max-width: calc(100vw - 300px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
}