.colour-option {
    font-size: 13px;

    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin: 2px 12px 2px 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.colour-option > div {
    width: 74%;
    height: 74%;
    border-radius: 100%;
    background-color: rgb(255, 146, 146);
}

.colour-option:hover, .colour-option.active {
    border: .8px solid rgb(188, 188, 188);
}