.detailsPage {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.detailsPage > div {
    margin: 50px 15px 0;
}

/* Images list styles  */
.productImages {
    width: 10%;
}

/* Selected image container styles */
.selectedImg {
    width: 65%;
    height: 600px;
}

.selectedImg .carousel, .carouselItem {
    width: 100%;
    height: 100%;
}

.selectedImg .carousel img {
    max-width: 500px;
    max-height: 560px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Carousel buttons  */
.carousel-control-next, .carousel-control-prev {
    display: none;
}

.carousel:hover .carousel-control-next, .carousel:hover .carousel-control-prev {
    display: flex;
}

.carousel-indicators [data-bs-target] {
    max-width: 5px;
    min-height: 5px;
    border-radius: 100%;
}


/* Text + form container styles */
.details {
    font-size: 14px;
    width: 35%;
    min-width: 330px;
}

.details > h4 {
    font-size: 2.4em;
    font-weight: 400;
}

.details > h6 {
    font-size: 1.5em;
    font-weight: 400;
    width: 80%;
    padding: 0 0 40px;
    border-bottom: .3px solid rgb(131, 131, 131);
}

.details > h5 {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Variant selection containers  */
.details .colour-container, .details .size-container {
    display: flex;
    height: 70px;
    width: 80%;
    border-bottom: .3px solid rgb(131, 131, 131);
    margin-bottom: 10px;
}

/* Add to cart button  */
.details .addToCart {
    /* width: 180px; */
    width: 80%;
    color: var(--text);
    text-decoration: none;
    border: .8px solid var(--text);
    border-radius: 1px;
    padding: 2px;
    margin: 10px 0;
    background: none;

    transition-duration: 400ms;
}

.details .addToCart:hover {
    color: black;
    border-color: black;
    background-color: rgb(231, 234, 237);
}

@media screen and (max-width: 780px) {
    .detailsPage {
        height: 110vh;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .detailsPage div {
        margin: 0;
    }
    .productImages {
        display: none;
    }
    .selectedImg, .details {
        width: 100%;
    }
}