.cart-item {
    width: 100%;
    height: 8em;
    margin-bottom: 1.4em;
    padding-top: 1.4em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 1px solid rgb(147, 147, 147);
}

/* Image container  */
.cart-item .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.2em;
    height: 100%;
    overflow: hidden;
}

/* Image */
.cart-item .image img {
    max-width: 90%;
    max-height: 90%;
}

/* Product name  */
.cart-item .desc h3 {
    font-size: 1em; 
    margin-bottom: 1.5em;
}

/* Product specs  */
.cart-item .desc p {
    font-size: .8em;
    margin: 0;
}

/*  + - qty container  */
.cart-item .qty {
    font-size: 16px;
    font-weight: 500;
}

/*  + - qty buttons  */
.cart-item .qty button {
    background: none;
    border: none;   
    font-size: 1.2em;
    color: var(--text);
    padding: 0 10px;
}