
/* Button is used throughout admin dashboard */
.action-button{
    border: none;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    border-radius: 2em;
    padding: 0.2em 0.7em 0.2em 0.7em;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
}
.action-button > p{
    margin: 0;
    font-size: 0.9em;
    color: white;
}
.action-button > img{
    width: 1em;
    height: 1em;
    /* transform: translateY(-0.1em); */
}