
/* Container which holds nav bar and all sections */
.user-dash-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation container */
.user-dash-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 2em;
}

/* Nav buttons */
.user-dash-nav > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    /* For underline effect */
    transition: border-bottom 0.2s ease-in-out;
}
/* When selected */
.user-dash-nav > div.selected{
    border-bottom: 1px solid white;
}