button.button{
    transition: 150ms ease-in;
    background-color: #a9a9ab;
    color: black;
    font-weight: 600;
    width: 100%;
    padding: .4rem 0rem;
    border-radius: .5rem;
    text-transform: uppercase;
}

button.button:hover{
    background-color: #dbdbdf;
}

button.button:disabled{
    background-color: #707076;
}