div.cart-page {
    padding: 0 80px;
    min-height: calc(100dvh - 80px);
}

div.cart-page h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

ul.productList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 10px 25px 10px;
}

ul.productList li {
    margin: 30px 45px;
}

.productItem img {
    max-width: 304px;
    min-height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.productName {
    margin-top: 1.5rem;
}