div.cart-page {
    padding: 0 80px;
    min-height: calc(100dvh - 80px);
}
.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 10px 25px 10px;
}

.itemInfo {
    display: flex;
    flex-direction: row;
}

.productItem {
    max-width: 304px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgb(87, 85, 85);
}

.productItem img {
    max-width: 304px;
    min-height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


div.productItem div.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
}
div.productItem div.firstRow p {
    margin: 0 10px;
}

.secondRow {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 15px;
    margin-right: 5px;
    padding: 5px 10px 10px 10px;
}

.pricePerItem {
    margin-top: 10px;
}

.itemAmount {
    display: flex;
    align-items: center;
}

.itemBtns {
    margin-left: 5px;
}

.itemBtns button {
    cursor: pointer;
    border: none;
    background-color: purple;
    color: white;
    padding: 5px 15px;
    margin: 3px;
    border-radius: 8px;
    transition: 0.2s;
}

.itemBtns button:hover {
    color: black;
}