div.header {
    height: 80px;
    font-family: Quicksand;
    font-size: 14.5px;
}

div.headerContent {
    display: flex;
    padding: 0 20px;
    align-items: center;
    height: 70px;
}

div.headerContent a {
    text-decoration: none;
    color: var(--text);
    padding: 0 15px;
}

div.headerContent a:hover {
    text-decoration: none;
    color: #7b7b7b;
}

div.headerLogo {
    width: 20%;
    font-size: 36px;
    text-align: left;
}

div.headerNav {
    width: 80%;
    text-decoration: none;
    text-align: center;
}

div.headerNav a {
    padding: 0 40px;
}

div.headerNav2 {
    text-align: right;
    width: 20%;
}

@media screen and (max-width: 780px) {
    div.header {
        height: 80px;
    }
    div.headerNav {
        display: none;
    }
    div.headerNav2 {
        width: 50%;
    }
    div.headerLogo {
        width: 50%;
    }
}