.detailsPage {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.detailsPage div {
    margin: 50px 15px 0;
}

/* Images list styles  */
.productImages {
    width: 10%;
}

/* Big image container styles */
.selectedImg {
    width: 65%;
    min-width: 330px;
    height: 400px;

    border: 1px solid rgb(126, 126, 126);
}

/* Text + form container styles */
.details {
    width: 35%;
    min-width: 330px;
}

@media screen and (max-width: 780px) {
    .detailsPage {
        padding: 10px;
        flex-wrap: wrap;
    }
}