.detailsPage {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 20px 100px;
}

.details {
    width: 46%;
    min-width: 330px;
    padding-top: 20px;

}

.detailsImg {
    width: 46%;
    min-width: 330px;
    max-height: 400px;

    border: 1px solid rgb(126, 126, 126);
}

@media screen and (max-width: 780px) {
    .detailsPage {
        padding: 10px;
    }
}