form.signIn-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 445px;
  margin: 0 auto;
}
form.signIn-form input {
  padding: 1.2rem;
  height: 28px;
  font-size: .9em;
}
form.signIn-form input:focus {
  outline: 1px solid #f3f3f3;
}


form.signIn-form label.form-label {
  margin-top: 1rem;
}
form.signIn-form button.btn.btn-primary {
  margin-top: 15px;
}
form.signIn-form span {
  display: block;
  color: rgb(207, 97, 97);
  font-family: sans-serif;
  height: 18px;
  transition: 150ms ease-in;
}

form.signIn-form span.hidden{
  opacity: 0;
}

form.signIn-form .link-to-signup{
  color: var(--text);
  font-size: .8rem;
  text-align: center;
}

form.signIn-form .accent{
  color: lightblue;
}
