form.signUp-form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 445px;
  margin: 0 auto;
}
form.signUp-form label.form-label {
  margin-top: 1rem;
}

form.signUp-form span {
  display: block;
  color: red;
  font-family: sans-serif;
  height: 18px;
  transition: 150ms ease-in;
}

form.signUp-form span.hidden{
  opacity: 0;
}



form.signUp-form  .link-to-signin{
  color: var(--text);
  font-size: .8rem;
  text-align: center;
}

form.signUp-form  .accent{
  color: lightblue;
}
