form.signIn-form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 445px;
  margin: 0 auto;
}
form.signIn-form label.form-label {
  margin-top: 1rem;
}
form.signIn-form button.btn.btn-primary {
  margin-top: 15px;
}
form.signIn-form span {
  display: block;
  color: red;
  font-family: sans-serif;
  height: 18px;
  transition: 150ms ease-in;
}

form.signIn-form span.hidden{
  opacity: 0;
}

form.signIn-form .link-to-signup{
  color: var(--text);
  font-size: .8rem;
  text-align: center;
}

form.signIn-form .accent{
  color: lightblue;
}
